@font-face {
    font-family: 'cv';
    src: url('/JennaSue.ttf');
}

* {
    padding: 0;
    margin: 0;
}

::-moz-selection {
    color: #262422;
    background: rgba(243, 229, 191, 0.9);
}

::selection {
    color: #262422;
    background: rgba(243, 229, 191, 0.9);
}

.inline {
    display: inline;
}

.hr-middle {
    z-index: -30;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

#arc {
    position: fixed;
    bottom: -80;
    right: 20;
    color: #f3e5bf;
    font-size: 8em;
    z-index: 100;
    font-family: 'Poiret One', cursive;
    opacity: 0.6;
    padding: 20px;
    /*background: red;*/
}

#arc:hover {
    opacity: 1;
}

.s-dark {
    background: #211f1e;
    color: #f3e5bf;
}

.s-semidark {
    background: #262422;
    color: #f3e5bf;
}

.s-light {
    background: #F7F7F7;
    color: #262422;
}

.align-right {
    position: absolute;
    top: 0;
    left: 0;
}

.align-left {
    position: absolute;
    top: 0;
    right: 0;
}


/* HEADER */

header {
    position: relative;
    height: 100%;
    width: 100%;
}

header #header-bg {
    position: relative;
    height: 100%;
    width: 100%;
    background: url('/img/bg.jpg') center center fixed;
    background-size: cover;
    -webkit-filter: brightness(0.4);
}

header #header-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header #header-align-center {
    font-family: 'Hind', sans-serif;
    display: flex;
    justify-content: center;
    height: 100%;
}

header .moit {
    width: 50%;
}

header #my-face {
    -webkit-filter: grayscale(0.7);
    background: url('/img/emtermea.png') no-repeat;
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    transition: all 0.1s;
}

header #my-face {
    width: 100%;
    background-size: auto 45vh;
    background-position: 100% 100%;
}

header #my-face:hover {
    -webkit-filter: grayscale(0);
}

header #my-name {
    color: #fec503;
    border-radius: 10px;
    font-size: 4vw;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    letter-spacing: 0px;
    font-weight: bold;
    text-align: center;
}

header #my-name span {}

header #my-area {
    letter-spacing: 10px;
    display: flex;
    justify-content: space-around;
}

header #how-old {
    /*font-size: 1.4em;*/
    color: rgba(255, 255, 255, 0.7);
}

header #my-city {
    /*font-size: 1em;*/
    color: rgba(255, 255, 255, 0.7);
}

header #my-job {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Poiret One', cursive;
    font-size: 1.7vw;
    font-weight: bold;
    letter-spacing: 4px;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

header #header-content-flex {
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .info {
    margin-bottom: 10px;
}


/* SECTION */

section {
    padding-top: 60px;
    width: 100%;
    /*    min-height: 400px;*/
}

section h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.skill {
    margin: 1px;
}


/*menu*/

#menu {
    z-index: 30;
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
}

#menu #home {
    line-height: 60px;
    font-family: 'cv';
    font-size: 2.3em;
    letter-spacing: 0px;
    position: absolute;
    color: #fec503;
    padding-left: 40px;
}

#menu ul {
    display: -webkit-box;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-right: 40px;
}

#menu ul li {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    color: #f3e5bf;
    transition: color 0.1s;
}

#menu ul li:hover {
    color: #fec503;
}

#menu ul a {
    height: 60px;
}


/*quality*/

#c-quality {
    display: flex;
    justify-content: center;
}

#quality-content {
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 50px;
}

#quality-cross {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#quality-text {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#quality-vetical {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#quality-horizontal {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#quality-horizontal-center1 {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#quality-horizontal-center2 {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.qt {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    padding: 140px;
}
/*skills*/

#c-skills {
    padding-bottom: 90px;
}

#cont-skills {
    margin-top: 9%;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

#cont-skills h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

#cont-skills #cont-diag {
    position: relative;
}

#cont-skills #cont-other {
    /*height: 200px;*/
    /*width: 100px;*/
    /*background: red;*/
}

#cont-skills #sk-languages {
    position: absolute;
}

#cont-skills #sk-pro {
    position: relative;
}

#cont-skills #sk-languages canvas {
    position: absolute;
    top: 0;
}

#cont-skills .sk-label {
    position: absolute;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    /*font-weight: bold;*/
    letter-spacing: -2px;
}

#cont-skills .sk-label-pro {
    width: 400;
    letter-spacing: 0px;
}

#cont-skills .sk-label-lang {
    letter-spacing: -1px;
    font-size: 1em;
}

#cont-lang {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#cont-lang .content-lang {
    text-align: center;
    width: 20%;
}

#frensh .lang-name {
    background: #8C1C2C;
}

#english .lang-name {
    background: #ED8C2B;
}

#spanish .lang-name {
    
    background: #d04a2e;
}

#cont-lang .lang-name {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 5px;
}

#cont-lang .lang-level {
    font-family: 'Hind', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.1em;
    background: #262422;
}

/*timeline*/

#cont-parcours {
    position: relative;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    padding-bottom: 40px;
}

/*work*/

#cont-work {
    text-align: center;
/*    padding: 30px;*/
    padding-top: 9%;
    padding-bottom: 10%;

}

#cont-work .work-cont {
    position: relative;
    display: inline-block;
    height: 340px;
    width: 300px;
    margin: 10px;
    background: #262422;
}

#cont-work .ghost {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    opacity: 0;
}

#cont-work .ghost:hover {
    background: #FEC503;
    opacity: 0.7;
}

#cont-work .work-desc {
    display: flex;
    flex-direction: column;
    jusitfy-content: space-between;
}

#cont-work .work-bg {
    position: relative;
    height: 75%;
    width: 100%;
}

#cont-work .work-name {
    font-family: 'Hind', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: capitalize;
}

#cont-work .work-detail {
    font-family: 'Hind', sans-serif;
}


/*hobbies*/

#cont-hobbies {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
}

#cont-hobbies .hobbies-cont {
    position: relative;
    width: 100px;
}

#cont-hobbies .hobbies-img {
    /*height: 100%;*/
    width: 100%;
    position: relative;
}

#cont-hobbies .hobbies-desc {
    font-family: 'Hind', sans-serif;
    display: flex;
    justify-conent: center;
    flex-direction: column;
}

#cont-hobbies .hobbies-name {
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: bold;
}

#cont-hobbies .hobbies-detail {
  color: rgba(243, 229, 191, 0.5);
}


/*footer*/

footer {
    position: relative;
    width: 100%;
    height: 75%;
}

footer h1 {
    color: #fec503;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding-top: 70px;
}

footer #footer-bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: url('/img/bg.jpg') center center fixed;
    background-size: cover;
    -webkit-filter: brightness(0.4) blur(0px);
    z-index: -30;
}

footer #cont-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

footer #cont-middle {
    height: 100px;
}

footer .contact {
    display: flex;
    justify-content: center;
    height: 50%;
    margin: 20px;
    /*width: 300px;*/
}

footer .cont-contact {
    display: flex;
    padding-right: 30px;
}

footer .cont-contact:hover {
    background: #fec503;
}

footer .data {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #fec503;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .cont-contact:hover .data {
    color: #323434;
}

footer .img_contact {
    position: relative;
    height: 100%;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer #img_email {
    height: 100%;
    width: 100%;
    background: url('/img/mail_l.png') center center no-repeat;
    background-size: auto 40px;
}

footer #email:hover #img_email {
    background: url('/img/mail_b.png') center center no-repeat;
    background-size: auto 40px;
}

footer #img_tel {
    height: 100%;
    width: 100%;
    background: url('/img/tel_l.png') center center no-repeat;
    background-size: auto 40px;
}

footer #tel:hover #img_tel {
    background: url('/img/tel_b.png') center center no-repeat;
    background-size: auto 40px;
}

footer #img_github {
    height: 100%;
    width: 100%;
    background: url('/img/github_l.png') center center no-repeat;
    background-size: auto 40px;
}

footer #github:hover #img_github {
    background: url('/img/github_b.png') center center no-repeat;
    background-size: auto 40px;
}
